@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;

  .accordion.week-selector-accordion {
    --bs-accordion-color: var(--bs-link-color);
    --bs-accordion-btn-color: var(--bs-link-color);
    --bs-accordion-active-color: var(--bs-link-color);
    --bs-accordion-active-bg: var(--bs-body-bg);
    --bs-accordion-btn-focus-box-shadow: none;
    margin-bottom: 20px;

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23faece5' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");

    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23faece5' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");

    .btn-link {
      --bs-link-hover-color: var(--link-color);
      --bs-link-color: var(--link-color-dark);
    }
  }

  .accordion.player-details-accordion {
    --bs-accordion-active-color: var(--bs-body-color);
    --bs-accordion-active-bg: var(--bs-link-color);
    --bs-accordion-transition-color: var(--bs-body-color);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-bg: var(--bs-link-color);
    --bs-accordion-bg: var(--bs-link-color);
    --bs-accordion-border-color: var(--bs-link-color);

    .accordion-button {
      font-size: "12px";
      padding: 10px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .accordion-body {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }
  }

  .navbar-brand {
    padding-left: 8px;
    --bs-navbar-brand-color: var(--bs-link-color);
    --bs-navbar-brand-hover-color: var(--bs-link-color);
  }

  .nav {
    --bs-nav-link-color: var(--link-color-dark);
    --bs-nav-link-active-color: var(--link-color-dark);
    --bs-nav-link-disabled-color: var(--link-color-dark-transparent);
    --bs-nav-link-hover-color: var(--bs-link-color);
    --bs-border-color: var(--link-color);
  }

  .nav-link {
    --bs-nav-tabs-link-color: var(--link-color-dark);
    --bs-nav-tabs-link-active-color: var(--bs-link-color);
    --bs-nav-tabs-link-hover-color: var(--link-color-dark);
  }

  .nav-underline {
    --bs-nav-underline-link-active-color: var(--bs-link-color);
  }

  .card {
    --bs-card-bg: var(--bs-link-color);
    margin-bottom: 24px;
  }

  .card-text {
    line-height: 0.75;
  }

  .rules {
    color: var(--bs-link-color);
  }

  .blur-container {
    position: relative;
  }

  .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8px);
  }

  .btn-link {
    --bs-link-hover-color: var(--link-color-dark);
  }

  div.joined-card-left {
    padding-top: 6px;
  }

  .card {
    --bs-card-spacer-y: 10px;
  }

  .flip-card {
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card.upside-down .flip-card-inner {
    transform: rotateX(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    --link-color: #faece5;
    --link-color-dark: #b0aca2;
    --link-color-dark-transparent: rgba(114, 111, 86, 0.814);
    --table-accent-color: #d7d2c6;
    --player-caption-color: #84827a;
    --background-color: rgb(2, 40, 105);
    background-color: black;

    --bs-body-bg: var(--background-color);
    --bs-link-color: var(--link-color);
    --bs-tertiary-bg-rgb: var(--background-color);
    --bs-card-spacer-y: 10px;
    --bs-table-border-color: var(--bs-link-color);

    --background-color: rgb(16, 39, 80);
    background-color: var(--background-color);

    .table {
      --bs-table-striped-bg: var(--bs-link-color);
      --bs-table-bg: var(--background-color);
      --bs-table-accent-bg: var(--table-accent-color);
      --table-accent-bg: var(--bs-link-color);
      --bs-table-border-color: var(--bs-link-color);
    }
  }

  /* Style the back side */
  .flip-card-back {
    transform: rotateX(180deg);
    --pool-title-transform: scaleY(-1);

    --bs-body-color: #dddddd;
    --link-color: #dddddd;
    --link-color-dark: #7f7f7f;
    --link-color-dark-transparent: rgba(83, 83, 83, 0.814);
    --player-caption-color: #aaaaaa;
    --background-color: #1c1c1c;
    --logo-filter: grayscale(1) saturate(200%);
    --logo-transform: scaleY(-1);

    --bs-body-bg: var(--background-color);
    --bs-link-color: var(--link-color);
    --bs-tertiary-bg-rgb: var(--background-color);
    --bs-card-spacer-y: 10px;
    --bs-table-border-color: var(--bs-link-color);

    background-color: var(--background-color);

    .table {
      --bs-table-color: #dddddd;
      --bs-table-striped-color: #dddddd;
      --table-accent-color: #3d3d3e;
      --bs-table-striped-bg: #5e5e5e;
      --bs-table-bg: var(--background-color);
      --bs-table-accent-bg: var(--table-accent-color);
    }
  }
}
